/*for all pages*/
@font-face {
	font-family: xFont;
	src: url(xFont/xFont.ttf);
}

*{
	text-decoration: none;
	list-style-type: none;
}

body {
	background: #fff;
	color: #114C37;
	margin: 0px;
	padding: 0px;
	font-family: palatino;
}

a {
	color: #25A378;
}

h1, h2 {
	font-family: xFont;
}

p{
	line-height: 1.3em;
}

#menuIcon {
	display: none;
}

.dividingLine {
	background: #25A378;
	width: 70%;
	height: 5px;
	margin: 0 auto;
}

#header {
	text-align: center;
	background: #26A73A;
	padding-top: 1px;
	font-family: xFont;
	width: 100%;
	margin: 0 auto;
	height: 90px;
	box-shadow: -5px 5px 5px rgba(88, 26, 32, 0.3); 
}

#header h1 {
	font-size: 33px;
	position: relative;
	top: -20px;
}

#header p{
	position: relative;
	top: -30px;
}


#navi {
	float: left;
	position: relative;
	left: -20px;
}

#navi a{
	display: block;
	margin-left: 0px;
	margin-bottom: 10px;
	font-size: 18px;
	font-family: xFont;
}

#navi a:hover{
	color: black;
}

#social {
	position: fixed;
	bottom: 0px;
	right: 3px;
}

/*homepage*/
#main-content {
	text-align: center;	
	font-size: 16px;
	width: 70%;
	margin: 0 auto;
}

.mcImage{
	width: 100%;
	margin: 0 auto;
	box-shadow: -5px 5px 5px rgba(88, 26, 32, 0.2); 
}

.centered {
	clear: both;
	width: 65%;
	margin: 0 auto;
	text-align: center;
	background-color: #d3d3d3;
	box-shadow: -5px 5px 5px rgba(88, 26, 32, 0.3); 
}

.floatBoxes {
	display: inline-block;
	width: 420px;
	margin: 0 auto;
	padding: 5px;
}

/*graph and facts*/
.facts {
	line-height: 1.5em;
	text-align: left;
	width: 420px;
	margin: 0 auto;
	background-color: #d3d3d3;
	display: inline-block;
}

.facts img {
	position: relative;
	right: -125px;
}

#workBlurb {
	text-align: center;
	width: 420px;
	line-height: 1.5em;
	margin-top: 15px;
	font-family: palatino;
}

#containerBox {
    margin: 0 auto;
    border: 5px #26A73A solid;
    box-shadow: -5px 5px 5px rgba(88, 26, 32, 0.3); 
}

.helpIcons {
	display: inline-block;
	margin: 20px;
	border-bottom: solid 3px #26A73A;
	width: 170px;
	height: 120px;
}

/*hunger in nyc*/
.graph {
	position: relative;
	top: -140px;
}

.graphContainer {
	position: relative;
	top: -30px;
}

#box1 {
    width: 18.8%;
    height: 35px;
    background-color: #57B27E;
    animation-name: boxOne;
    animation-duration: 2s;
}

@keyframes boxOne{
    0%   {width:0px;}
    100% {width:18.8%;}
}

#box2 {
    width: 19.8%;
    height: 35px;
    background-color: #57B27E;
    animation-name: boxTwo;
    animation-duration: 2s;
}

@keyframes boxTwo {
    0%   {width:0px;}
    100% {width: 19.8%;}
}

#box3 {
    width: 15.3%;
    height: 35px;
    background-color: #57B27E;
    animation-name: boxThree;
    animation-duration: 2s;
}

@keyframes boxThree {
    0%   {width: 0px;}
    100% {width: 15.3%;}
}

#box4 {
    width: 13.3%;
    height: 35px;
    background-color: #57B27E;
    animation-name: boxFour;
    animation-duration: 2s;
}

@keyframes boxFour {
    0%   {width: 0px;}
    100% {width: 13.3%;}
}

#box5 {
    width: 10.6%;
    height: 35px;
    background-color: #57B27E;
    animation-name: boxFive;
    animation-duration: 2s;
}

@keyframes boxFive {
    0%   {width: 0px;}
    100% {width: 10.6%;}
}

/*our work*/
#ourWork {
	position: relative;
	top: -140px;
}

.foodBlurb {
	width: 70%;
	margin: 0 auto;
}

.foodBlurb h2, h3, p {
	line-height: 2em;
}

/*gallery*/
#testDiv {
	width: 66%;
	margin: 0 auto;
	text-align: center;
	background-color: #d3d3d3;
	box-shadow: -5px 5px 5px rgba(88, 26, 32, 0.3); 
}

.photosIndiv img {
	width: 80%;
	height: 30%;
	border: rgba(0, 0, 0, 0.3) solid 3px;
}

/*footer*/
#footer {
	clear: both;
	background-color: #26A73A;
	font-size: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 30px;
	box-shadow: 5px -5px 5px rgba(88, 26, 32, 0.3);
}

.footerCentered {
	clear: both;
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.footerBoxes {
	display: inline-block;
	width: 220px;
	margin: 0 auto;
	margin-right: 50px;
}

#footer li {
	font-size: 16px;
}

#footer a {
	color: #114C37;
}

input {
	width: 160px;
	height: 25px;
	color: green;
	font-size: 20px;
}

@media all and (max-width: 900px){
	.centered, #testDiv {
		width: 55%;
	}
	
	.graphContainer {
		max-width: 90%;
	}
}

@media all and (max-width: 660px){
	#navi a {
		display: inline-block;
		font-size: 16px;
		margin: 4px;
	}

	#navi ul{
		display: none;
	}
	
	#menuIcon {
		display: block;
	}

	.mcImage {
		display: none;
	}

	.centered, #ourWork, #testDiv {
		float: left;
		width: 100%;
		position: initial;
	}
}
